body {
	text-align: center;
	background-image: url("website-bg.jpg");
	margin: auto;
}

main {
	 background-color: #ffffff;
	 font-family: "Helvetica";
	 border-radius: 1rem;
	 width: 50%;
	 margin: auto;
 }
 
 header {
	 position: fixed;
	 background-color: white;
 }