html {
	font-family: "Helvetica";
}

body {
	text-align: center;
	background-image: url("website-bg.jpg");
	margin: auto;
	
}

main {
	 background-color: #ffffff;
	 border-radius: 1rem;
	 width: 50%;
	 margin: auto;
	 display: block;
	 padding-top: 10%;
 }
 
 header {
	 position: fixed;
	 background-color: #000000;
	 color: #ffffff;
	 width: 100%;
	 display: block;
	 height: 10%
 }